/*Contenido personalizado*/
.widget.custom_content .custom_content_slides {
	position: relative;
	min-height: 135px;
}
.custom_content_slides .hentry{
	position: absolute;
}
.widget.custom_content .entry-image {
	position: absolute;
	top: 0;
	left: 0;
}
.widget.custom_content .entry-content {
	padding-left: 135px;
}
.widget.custom_content .doesnt-have-post-thumbnail .entry-content {
	padding-left: 0;
}

/* Indicadores */
.widget.custom_content .bullet-list {
	margin-bottom: 0;
 	position: absolute;
 	bottom: -10px;
 	right: 10px;
 	z-index: 30;
}
.widget.custom_content .bullet-list li {
	float: left;
	display: inline-block;
}
.widget.custom_content .bullet-list li a {
	display: block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	border-radius: 50%;
	background: #C0C0C0;
}
.widget.custom_content .bullet-list li.active a{
	background: #666;
}