.udd-crisp-wizard {
	position: fixed;
	bottom: 0;
	right: 1rem;
	background: #f7f7f7;
	box-shadow: 0px 0px 30px rgba( 88, 88, 88, 0.35 );
	border-radius: 5px 5px 0 0;
	font-size: 12px;
	width: 25rem;
	max-width: calc( 100vw - 2rem );
	opacity: 0;
	transform: translateY( 100% );
	clip: rect( 0, 0, 0, 0 );
	align-items: center;
	overflow: hidden;
	transition: opacity .15s .1s linear, transform .25s ease-in, box-shadow linear .15s;
	z-index: 999;
}
.udd-crisp-wizard--ready {
	opacity: 1;
	transform: translateY( 0% );
	clip: unset;
	overflow: unset;
}
.udd-crisp-wizard:hover {
	box-shadow: 0px 0px 30px rgba( 88, 88, 88, 0.5 );
}
.udd-crisp-wizard a {
	color:rgb(0, 98, 161);
	text-decoration: underline;
}
.udd-crisp-wizard__stage {
	display: none;
	padding: 0 1rem 1rem;
}
.udd-crisp-wizard__stage--start {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 1rem;
}
.udd-crisp-wizard__stage--start:hover {
	/* background: #f4f3f3; */
	/* border-radius: 5px 5px 0 0; */
	cursor: pointer;
}
.udd-crisp-wizard__status {
	line-height: 2;
}
.udd-crisp-wizard__status::before {
	content: '';
	display: inline-block;
	width: .5rem;
	height: .5rem;
	margin-right: 5px;
	background: rgb(137, 205, 81);
	border-radius: .5rem;
	animation: fade infinite alternate cubic-bezier(.68,-0.55,.27,1.55) .75s;
}
.udd-crisp-wizard__stage--start button {
	border: 0;
	background: none;
	display: none;
}
.udd-crisp-wizard__button-continue svg,
.udd-crisp-wizard__button-back svg {
	height: 1rem;
	fill: rgb(0, 98, 161);
}
.udd-crisp-wizard__button-back {
	color: rgb(0, 98, 161);
}
.udd-crisp-wizard__button-close svg {
	fill: rgb(152, 152, 152);
}
.udd-crisp-wizard__button-close:hover svg {
	fill: rgb( 88, 88, 88 );
}

/* transiciones de estado en cabecera de widget */
.udd-crisp-wizard--closed .udd-crisp-wizard__button-continue {
	display: inline-block;
}
.udd-crisp-wizard--open .udd-crisp-wizard__button-close {
	display: inline-block;
}
.udd-crisp-wizard--has-previous .udd-crisp-wizard__status {
	display: none;
}
.udd-crisp-wizard--has-previous .udd-crisp-wizard__button-back {
	display: inline-block;
}

/* transiciones de etapas */
.udd-crisp-wizard--open.udd-crisp-wizard--choose-type .udd-crisp-wizard__stage--type {
	display: block;
}
.udd-crisp-wizard--open.udd-crisp-wizard--choose-admissions-location .udd-crisp-wizard__stage--admissions-location {
	display: block;
}
.udd-crisp-wizard--open.udd-crisp-wizard--choose-academic-location .udd-crisp-wizard__stage--academic-location {
	display: block;
}
.udd-crisp-wizard--open.udd-crisp-wizard--show-contacts .udd-crisp-wizard__stage--contacts {
	display: block;
}

/* botonería */
.udd-crisp-wizard__choices {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	padding-top: 1rem;
}
.udd-crisp-wizard__button {
	flex: 1 1 50%;
	text-transform: uppercase;
	font-weight: 500;
	padding: 5px 0;
	border: 2px solid rgb(0, 98, 161);
	color: rgb(0, 98, 161);
	background: transparent;
	transition: all .15s linear;
	line-height: 2;
}
.udd-crisp-wizard__button--loading::after {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 2px solid white;
	border-top-color: transparent !important;
	border-radius: 1em;
	animation: spinner infinite linear .35s;
	margin-left: .25rem;
	position: relative;
	top: 1px;
}
.udd-crisp-wizard__button--chosen,
.udd-crisp-wizard__button:hover {
	background: rgb(0, 98, 161);
	color: white;
}